
<nav class="navbar navbar-expand-lg navcolor bordernav ">
    <div class="container-fluid">
      <a class="navbar-brand rounded d"  routerLink="start" >START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto fw-bold ">
          <li class="nav-item p-2">
            <a class="nav-link rounded d-inline  text-white " aria-current="page"  routerLink="about" routerLinkActive="linkactive">ABOUT</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link rounded d-inline text-white  " routerLink="portfolio" routerLinkActive="linkactive">PORTFOLIO</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link rounded d-inline text-white" routerLink="contact" routerLinkActive="linkactive">CONTACT</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
<!-- <contact></contact> -->